body {
  padding: 0 50px;
}

.results {
  display: flex;
  gap: 25px;
  margin: 35px auto 0px;
  flex-wrap: wrap;
}

.search {
  text-align: center;
  padding: 15px;
}

.input {
  font-size: 20px;
  border-radius: 20px;
  outline: none;
  border: 3px solid rgb(113, 106, 49);
  padding: 5px 15px;
  background-color: rgb(238, 253, 184);
}

.pagination-container {
  justify-content: end;
  padding: 0 100px;
}
